.head-block
{
	width:100%;
	height:200px;
}
.center
{
	margin:0 auto;
	display:block;
}
.container
{
	width:100%;
	position:relative;
}
.title
{
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
	color:#333;
	text-align:center;
}
.author
{
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
	color:#333;
	text-align:center;
	color:#333;

}
.inputFile
{
	margin:0 auto;
	display:block;
	position:relative;
	width:300px;
}
#image
{
	visibility:hidden;
}